
@{
    ViewBag.Title = "Tabla";
}

<h2>Rubros</h2>


@*CSS REFERENCIAS*@
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />


<br />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="abrirModal(0)">Agregar</button>
<br />
<br />

@*DATATABLE*@
<div id="tabla-data"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="width:90%;margin:auto">


                    <tr>
                        <td>ID</td>
                        <td><input type="text" id="txtIdRubro" readonly class="limpiar" /><label id="lbltxtIdRubro"></label></td>
                    </tr>

                    <tr>
                        <td>DESCRIPCION</td>
                        <td><input type="text" id="txtDescripcion" class="limpiar obligatorio" /><label id="lbltxtDescripcion"></label></td>

                    </tr>


                </table>


            </div>
            <div class="modal-footer">
                <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnAceptar" onclick="agregarEditar()" type="button" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>



@*JAVASCRIPT REFERENCIAS*@
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/Benja/rubrosScript.js"></script>

