
@{
    ViewBag.Title = "Tabla";
}

@*CSS REFERENCIAS*@
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />


<h2>Productos</h2>

@*COMBOBOX*@
<label>Filtrar: </label>
<select id="combobox-data"></select>

<br />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="abrirModal(0)">Agregar</button>
<br />
<br />

@*DATATABLE*@
<div id="tabla-data"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="width:90%;margin:auto">


                    <tr>
                        <td>ID</td>
                        <td><input type="text" id="txtIdProducto" readonly class="limpiar" /><label id="lbltxtIdProducto"></label></td>
                    </tr>

                    <tr>
                        <td>NOMBRE</td>
                        <td><input type="text" id="txtNombre" class="limpiar obligatorio" /><label id="lbltxtNombre"></label></td>

                    </tr>

                    <tr>
                        <td id="lblApellidoPaterno">DESCRIPCION</td>
                        <td><input type="text" id="txtDescripcion" class="limpiar obligatorio" /><label id="lbltxtDescripcion"></label></td>

                    </tr>

                    <tr>
                        <td>PRECIO</td>
                        <td><input type="text" id="txtPrecio" class="limpiar obligatorio" /><label id="lbltxtPrecio"></label></td>

                    </tr>

                    <tr>
                        <td>CANTIDAD</td>
                        <td><input type="text" id="txtCantidad" class="limpiar obligatorio" /><label id="lbltxtCantidad"></label></td>

                    </tr>

                    <tr>
                        <td>FECHA DE VENCIMIENTO</td>
                        <td><input type="text" id="dtpFechaVencimiento" class="limpiar obligatorio" /><label id="lbldtpFechaVencimiento"></label></td>
                    </tr>


                    <tr>
                        <td>RUBRO</td>
                        <td><select id="cboIdRubro" class="limpiarCbo obligatorio"></select><label id="lblcboIdRubro"></label></td>
                    </tr>

                    <tr>
                        <td>FOTO</td>
                        <td> <img id="imgFoto" width="100" height="100" style="border:1px solid" /><label id="lblimgFoto"></label></td>

                    </tr>

                </table>


            </div>
            <div class="modal-footer">
                <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button id="btnAceptar" onclick="agregar()" type="button" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>



@*JAVASCRIPT REFERENCIAS*@
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/Benja/abmData.js"></script>